.ButtonWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  
  .RouteButton,
  .InfoButton {
    background-color: blue;
    border: none;
    border-radius: 1000px;
    width: 50%;
    min-height: 25px;
    color: white;
    font-weight: bold;
  }
  
  /* Kleine Ansicht (Standard) */
  .SmallScreenLayout {
    display: block;
  }
  
  .LargeScreenLayout {
    display: none;
  }
  
  .shared-layout-padding {
    padding: 1rem;
  }
  
  /* Routing Wrapper sichtbar oder nicht */
  .routing-visible {
    display: block;
    height: 300px;
    width: 100%;
    margin-top: 1rem;
  }
  
  .routing-hidden {
    display: none;
  }
  